<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta charset="utf-8"/>
    <script type="module" src="front.js"></script>
  </head>
  <body>
    <table id="messages"></table>
    <input id="input-msg" />
    <button id="send">送信</button>
  </body>
</html>
